/* Font */
/* Colors */
/* Breakpoint */
/* Flex */
/* Mixins Breakpoint */
/* Animation menus */
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@keyframes slidein {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
/*Animation loader */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fade {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
/* FONT FAMILY */
/* Shrikhand (for logos and titles) */
/* Roboto (for texts) */
/* box for functioning */
.functioning__list__box {
  width: 100%;
  height: 70px;
  background-color: #f6f6f6;
  border-radius: 20px;
  box-shadow: 5px 5px 10px #eaeaea;
  position: relative;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .functioning__list__box {
    width: 30%;
  }
}
.functioning__list__box p {
  font-weight: bold;
}
.functioning__list__box:hover {
  background-color: #e4d5f6;
}
.functioning__list__box:hover .functioning__icon {
  color: #9356DC;
}

.functioning__icon {
  color: grey;
  padding: 20px 30px;
}

.list__number {
  width: 20px;
  height: 20px;
  background-color: #9356DC;
  color: white;
  border-radius: 10px;
  position: absolute;
  left: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* cards in index page */
.cards {
  width: 100%;
  height: 250px;
  box-shadow: 2px 2px 10px #f6f6f6;
  border-radius: 15px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .cards {
    width: 45%;
  }
}
.cards a {
  width: 100%;
  color: black;
  text-decoration: none;
  display: flex;
  flex-direction: column;
}
.cards__box {
  width: 100px;
  height: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
  font-family: "Roboto";
  font-weight: bold;
  color: #278870;
  background-color: #99E2D0;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cards__image {
  width: 100%;
  height: 170px;
}
.cards__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}
.cards__body {
  width: 100%;
  height: 80px;
  padding: 15px;
  border-radius: 0px 0px 15px 15px;
  background-color: white;
  display: flex;
  justify-content: space-between;
}
.cards__body__text {
  font-family: "Roboto";
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cards__body h2 {
  margin: 0px;
  font-size: 20px;
}
.cards__body p {
  margin: 0px;
  font-size: 18px;
}
.cards__body__heart {
  display: flex;
  align-items: center;
}

/* Correction for Font Awersome icons */
.fa {
  line-height: normal;
}

/* Button for explorer section */
.explorer__button {
  font-family: "Roboto";
  color: white;
  width: 250px;
  height: 60px;
  border-radius: 30px;
  box-shadow: 5px 5px 5px #eaeaea;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  border: none;
}
.explorer__button:hover {
  filter: brightness(1.1);
}

/* Heart icon in index page */
.cards__body__heart .fa-heart {
  position: absolute;
  right: 15px;
}
.cards__body__heart .fa-heart--empty {
  opacity: 1;
  transition: opacity 400ms;
}
.cards__body__heart .fa-heart--empty:hover {
  opacity: 0;
  transition: opacity 400ms;
}
.cards__body__heart .fa-heart--full {
  background: linear-gradient(to top right, #FF79DA, #9356DC);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  transition: opacity 400ms;
}
.cards__body__heart .fa-heart--full:hover {
  opacity: 1;
  transition: opacity 400ms;
}

/* Heart icon in menu pages */
.menu__title__heart .fa-heart {
  position: absolute;
  right: 40px;
  bottom: 35px;
}
.menu__title__heart .fa-heart--empty {
  opacity: 1;
  transition: opacity 400ms;
}
.menu__title__heart .fa-heart--empty:hover {
  opacity: 0;
  transition: opacity 400ms;
}
.menu__title__heart .fa-heart--full {
  background: linear-gradient(to top right, #FF79DA, #9356DC);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  transition: opacity 400ms;
}
.menu__title__heart .fa-heart--full:hover {
  opacity: 1;
  transition: opacity 400ms;
}

/* Button order in menu pages */
.order__button {
  font-family: "Roboto";
  color: white;
  width: 200px;
  height: 50px;
  border-radius: 30px;
  box-shadow: 5px 5px 5px #eaeaea;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  border: none;
}
.order__button:hover {
  filter: brightness(1.1);
}

/* form for research location in index */
.location {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  background-color: #eaeaea;
}
.location__dot {
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.location__search {
  width: 150px;
  font-family: "Roboto";
  font-size: large;
  color: black;
  background-color: #eaeaea;
  border: none;
}

/* Header in index page */
.header__index {
  position: sticky;
  width: 100%;
  box-shadow: 0px 2px 10px grey;
  padding: 25px 0px 10px 0px;
  display: flex;
  justify-content: center;
}

/* Header in menu pages */
.header__menu {
  width: 100%;
  padding: 25px 0px 10px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.header__menu a {
  text-decoration: none;
  color: black;
}

.fa-arrow-left {
  position: absolute;
  left: 20px;
  top: 25px;
}

footer {
  width: 100%;
  height: 150px;
  padding: 20px;
  background-color: #353535;
  color: white;
}
@media screen and (min-width: 768px) {
  footer {
    height: 100px;
  }
}
footer h1 {
  margin: 0px;
  margin-bottom: 10px;
  font-family: "Shrikhand";
  font-size: 15px;
  font-weight: lighter;
}
@media screen and (min-width: 768px) {
  footer h1 {
    text-align: center;
    margin-bottom: 20px;
  }
}
footer ul {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto";
  font-size: 13px;
  list-style-type: none;
}
@media screen and (min-width: 768px) {
  footer ul {
    display: flex;
    justify-content: space-around;
  }
}
footer ul li {
  margin-bottom: 5px;
}
footer ul li a {
  text-decoration: none;
  color: white;
}
footer .footer__icon {
  margin-right: 10px;
}

/* Loader */
.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fade 3s;
  visibility: hidden;
  z-index: 1;
}
.loader__spin {
  position: absolute;
  width: 300px;
  height: 300px;
  border: 20px solid white;
  border-top: 20px solid #9356DC;
  border-bottom: 20px solid #FF79DA;
  border-radius: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: spin 2s linear;
}
.loader__text {
  font-family: "Shrikhand";
  font-size: 30px;
}

/* Explorer part */
.explorer {
  width: 100%;
  height: 300px;
  padding: 40px;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .explorer {
    height: 230px;
  }
}
.explorer__title {
  margin: 0px;
  padding: 0px 20px;
  font-family: "Roboto";
  font-size: 26px;
  text-align: center;
  font-weight: 600;
}
.explorer__text {
  margin: 0px;
  font-family: "Roboto";
  font-size: 17px;
  text-align: center;
}

/* Functioning part */
.functioning {
  padding: 40px 20px;
}
.functioning__title {
  font-family: "Roboto";
  font-size: 22px;
  font-weight: 700;
}
.functioning__list {
  height: 240px;
  font-family: "Roboto";
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .functioning__list {
    height: 120px;
    flex-direction: row;
    justify-content: space-around;
  }
}

/* Restaurant part */
.restaurants {
  width: 100%;
  background-color: #f6f6f6;
  padding: 50px 20px;
}
.restaurants__title {
  font-family: "Roboto";
  margin: 0px;
}
.restaurants__cards {
  height: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  justify-content: space-around;
}
@media screen and (min-width: 768px) {
  .restaurants__cards {
    max-height: 600px;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

/* Background image */
.background__image img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: 50% 50%;
}
@media screen and (min-width: 768px) {
  .background__image img {
    height: 350px;
  }
}

.menu__body {
  position: relative;
  padding-top: 30px;
  background-color: #f6f6f6;
}

.menu__title {
  width: 100%;
  padding: 30px 20px;
  background-color: #f6f6f6;
  border-radius: 30px 30px 0px 0px;
  position: absolute;
  top: -60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__title h1 {
  width: 80%;
  margin: 0px;
  font-family: "Shrikhand";
  font-size: 28px;
  font-weight: lighter;
}

.menu__container {
  position: relative;
  top: 20px;
}
@media screen and (min-width: 1024px) {
  .menu__container {
    display: flex;
  }
}

.menu__section {
  padding: 0px 10px 40px 10px;
  background-color: #f6f6f6;
}
@media screen and (min-width: 1024px) {
  .menu__section {
    padding: 0px 10px 10px 10px;
    width: 33.3333333333%;
  }
}
.menu__section h2 {
  margin: 0px;
  font-family: "Roboto";
  font-size: 15px;
  font-weight: lighter;
}
.menu__section__line {
  width: 40px;
  height: 3px;
  margin-top: 5px;
  background-color: #99E2D0;
}

.menu__list {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .menu__list {
    display: flex;
    flex-direction: column;
  }
}

.order {
  width: 100%;
  height: 130px;
  background-color: #f6f6f6;
  position: relative;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 1024px) {
  .order {
    align-items: center;
  }
}

.plates {
  width: 100%;
  height: 55px;
  padding: 5px 0px 5px 5px;
  margin: 10px 0px;
  font-family: "Roboto";
  border-radius: 10px;
  background-color: white;
  display: flex;
  align-items: center;
  overflow: hidden;
  animation: slidein linear;
}
.plates:nth-child(1) {
  animation-duration: 500ms;
}
.plates:nth-child(2) {
  animation-duration: 1000ms;
}
.plates:nth-child(3) {
  animation-duration: 1500ms;
}
.plates:nth-child(4) {
  animation-duration: 2000ms;
}
.plates__text {
  width: 90%;
  transition: width 1000ms;
}
.plates__text h3 {
  margin: 0px;
  font-size: 16px;
}
.plates__text p {
  margin: 0px;
  font-size: 14px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.plates__price {
  width: 10%;
  align-self: flex-end;
  transition: width 1000ms;
}
.plates__validation {
  width: 0%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: width 1000ms;
}
.plates__validation .fa-circle-check {
  transition: all 1000ms;
}
.plates:hover .plates__text {
  width: 70%;
  transition: width 1000ms;
}
.plates:hover .plates__text h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.plates:hover .plates__text p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.plates:hover .plates__price {
  transition: width 1000ms;
}
.plates:hover .plates__validation {
  width: 20%;
  height: 130%;
  background-color: #99E2D0;
  transition: width 1000ms;
}
.plates:hover .plates__validation .fa-circle-check {
  transform: rotate(360deg);
}

/*# sourceMappingURL=style.css.map */
