/* box for functioning */

.functioning__list__box {
    width: 300px;
    height: 60px;
    border: 1px solid black;
    border-radius: 20px;
    @include CenterPosition;
    justify-content: space-around;
}

/* cards in home page */

.restaurants__cards {
    width: 300px;
    height: 200px;
    border: 1px solid black;
    border-radius: 15px;
}