.location {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    background-color: $light-grey;

    .location_dot {
        padding: 15px;
        @include CenterPosition
    }

    .search_location {
        font-family: $font-text;
        color: black;
        background-color: $light-grey;
        border: none;

    }
}