.location {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    background-color: $background-color-secondary;

    &__dot {
        padding: 15px;
        @include CenterPosition
    }

    &__search {
        width: 150px;
        font-family: $font-text;
        font-size: large;
        color: black;
        background-color: $background-color-secondary;
        border: none;

    }
}