/* Explorer part */

.explorer {
    width: 100%;
    height: 300px;
    padding: 45px;
    background-color: $light-grey-1 ;
    @include CenterColumn;

    &__title {
        font-family: $font-text;
        font-size: 27px;
        text-align: center;
        font-weight: 600;
    }

    &__text {
        font-family: $font-text;
        font-size: 18px;
        text-align: center;

    }
}

/* Functioning part */

.functioning {
    padding: 40px 20px;

    &__title {
        font-family: $font-text;
        font-size: 22px;
        font-weight: 700;
    }
}