/* Background image */

.background__image {

    img {
        width: 100%;
        height: 250px;
        object-fit: cover;
    }
}

.menu__body {
    position: relative;
    padding-top: 30px;
}

.menu__title {
    width: 100%;
    padding: 30px 20px;
    background-color: $background-color-primary;
    border-radius: 30px 30px 0px 0px;
    position: absolute;
    top: -60px;
    display: flex;
    justify-content: space-between;
    align-items: center;


    h1 {
        margin: 0px;
        font-family: $font-title;
        font-size: 28px;
        font-weight: lighter;
    }
}

.menu__section {
    padding: 0px 10px 40px 10px;
    background-color: $background-color-primary;

    h2 {
        margin: 0px;
        font-family: $font-text;
        font-size: 15px;
        font-weight: lighter;
    }

    &__line {
        width: 40px;
        height: 3px;
        margin-top: 5px;
        background-color: $color-tertiary;
    }
}

.menu__list {
    margin-top: 10px;
    height: 180px;
    @include CenterColumn;
}

.order {
    width: 100%;
    height: 130px;
    background-color: $background-color-primary;
    display: flex;
    justify-content: center;
}

.plates {
    width: 100%;
    height: 55px;
    padding: 5px 0px 5px 5px;
    font-family: $font-text;
    border-radius: 10px;
    background-color: white;
    display: flex;
    align-items: center;
    overflow: hidden;

    &__text {
        width: 90%;
        transition: width 1000ms;

        h3 {
            margin: 0px;
            font-size: 16px;

        }

        p {
            margin: 0px;
            font-size: 14px;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

    }

    &__price {
        width: 10%;
        align-self: flex-end;
        transition: width 1000ms;
    }

    &__validation {
        width: 0%;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: width 1000ms;

        .fa-circle-check {
            transition: all 1000ms;
        }
    }

    &:hover & {
        &__text {
            width: 70%;

            h3 {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            p {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }

        &__price {
            transition: width 1000ms;
        }

        &__validation {
            width: 20%;
            height: 130%;
            background-color: $color-tertiary;
            transition: width 1000ms;

            .fa-circle-check {
                transform: rotate(360deg);
            }
        }
    }
}