/* Flex */

@mixin CenterPosition {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin CenterColumn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

/* Button */

@mixin Button ($width, $height, $font, $border, $border-radius) {
    width: $width;
    height: $height;
    font-family: $font;
    border: $border;
    border-radius: $border-radius;
}