/* Flex */

@mixin CenterPosition {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin CenterColumn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

/* Mixins Breakpoint */

@mixin tablet-only {
    @media screen and (min-width: map-get($breakpoints, tablet)) {
        @content;
    }
}

@mixin desktop-only {
    @media screen and (min-width: map-get($breakpoints, desktop)) {
        @content;
    }
}