/* Font */

$font-text: "Roboto";
$font-title: "Shrikhand";

/* Colors */

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$background-color-primary: #f6f6f6;
$background-color-secondary: #eaeaea;

/* Breakpoint */

$breakpoints: (
    tablet: 768px,
    desktop: 1024px
);

$columns-menu: 3;